<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="org.springframework.batch" level="error" />
	<logger name="org.springframework.jms" level="error" />
	<logger name="org.springframework.jdbc" level="error" />
	<logger name="org.springframework.transaction" level="error" />
	<logger name="com.manning.sbia.ch08" level="error" />
	<logger name="org.apache.activemq" level="error" />

	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>